charset "UTF-8";

/*general*/
html {
	font-family: "Hiragino Kaku Gothic ProN", sans-serif;
	font-size: 62.5%;
}
html *{
	box-sizing: border-box;
}
@font-face {
	font-family: 'azukiLP';
	src: url("sozai/azukifontLP100/azukiLP.ttf");
}
body {
	margin: 40px 0px 0px;
	background-color: #FFF2D4;
}
.page {
	display: block;
	margin: 0;
}
.site-top {
	background-image: url("sozai/panda-cup-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*background-color: rgba(255,255,255,0.8);*/
	/*background-blend-mode:lighten;*/
}
.site-top-table {
	display: table;
	width: 100%;
	margin-bottom: 40px;
	background-color: rgba(255,255,255,0.4);
	background-blend-mode:lighten;
}
.site-branding {
	display: table-cell;
	padding-bottom: 10px;
	padding-right: 50px;
	text-align: center;
}
.site-title {
	font-family: 'Amatic SC';
	font-size: 4.2rem;
	letter-spacing: 1px;
	margin: 0 0;
	color: #8b4513;
}
.hamburger-icon {
  display: none;
}
#drawercheckbox {
	display: none;
}
.site-navigation {
	font-size: 0;
	display: table-cell;
	text-align: center;
	color: #696969;
}
.nav-menu {
	display: inline-block;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}
.nav-menu-item {
	display: inline-block;
	padding: 0 16px;
	font-family: 'Amatic SC';
	font-size: 2.4rem;
	letter-spacing: 1px;
}
.nav-menu-item a:link{
	color: #696969;
	text-decoration: none;
}
.nav-menu-item a:visited{
	color: #696969;
	text-decoration: none;
}
.nav-menu-item a:hover{
	color: #ffb6c1;
	text-decoration: none;
}
.nav-menu-item a:active{
	color: #ffb6c1;
	text-decoration: none;
}
/*.search-form {
	display: inline-block;
	padding-left: 20px;
	border: solid 1px #808080;
}*/
.keyvisual {
	font-family: 'azukiLP';
	height: 600px;
	text-align: center;
	font-size: 1.6rem;
	color: #696969;
	line-height: 1.5;
}
.key-description {
	padding-top: 100px;
	margin-left: 100px;
	text-align: left;
}
.section-title {
	font-family: 'Amatic SC';
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	font-size: 5.2rem;
}
.section-contents {
	font-family: 'azukiLP';
	font-size: 1.4rem;
	line-height: 2.0;
}
#self-introduction {
	height: 500px;
	background-color: #f5f5f5;
}
#self-introduction .section-contents {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px auto;
	padding: 5px
}
.intro-item {
	list-style: circle;
}
#work-introduction {
	height: 600px;
	background-color: #FFF2D4;
}
#work-introduction .section-contents {
	padding: 20px;
	text-align: center;
}
.works-img {
	display: inline-block;
	width: 300px;
	height: 300px;
	background-image: url("sozai/ikuno-web-top.jpg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
	text-align: center;
}
#work-introduction a {
	text-decoration: none;
	color: #696969;
}
#work-introduction a:hover {
	opacity: 0.5;
}
#contact {
	height: 600px;
	background-color: #f5f5f5;
}
footer {
	height: 100px;
	background-color: #FFF2D4;
}

/*tablet*/
@media (min-width: 500px) and (max-width: 768px) {
	.page {
		width: 500px;
	}
}

/*smart phone*/
@media (max-width: 499px) {
	body {
		margin: 20px 0;
	}
	.page {
		width: 100%;
	}
	.site-top-table {
		display: block;
	}
	.site-branding {
		display: block;
	}
	.hamburger-outline {
		position: fixed;
		top: 0px;
		left: 0px;
		height: 40px;
		width: 40px;
		cursor: pointer;
	}
	.hamburger-icon {
    display: block;
		width: 100%;
		height: 100%;
  }
  .hamburger-outline span {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 7px;
    width: 25px;
    height: 1px;
    background-color: #696969;
    margin: 0;
  }
  .hamburger-outline span:nth-of-type(1) {
    top: 10px;
  }
  .hamburger-outline span:nth-of-type(2) {
    top: 17px;
  }
  .hamburger-outline span:nth-of-type(3) {
    top: 24px;
  }
	#drawercheckbox {
		position: fixed;
	}
	#drawercheckbox:checked ~ .site-navigation {
		display: block;
	}
	.site-navigation {
		display: none;
	}
	.site-navigation .nav-menu {
		display: block;
		text-align: left;
		position: fixed;
		top: 40px;
		left: 0px;
		background-color: rgba(255,255,255,0.9);
		background-blend-mode:lighten;
	}
	.site-navigation .nav-menu-item {
		display: block;
		font-size: 2.0rem;
	}
	.keyvisual {
		height: 250px;
	}
	.key-description {
		padding-top: 50px;
		margin-left: 0;
		text-align: center;
		font-size: 1.2rem;
	}
	.section-title {
		padding: 10px;
		font-size: 3.0rem;
	}
	.section-contents {
		font-size: 1.2rem;
		line-height: 1.5;
		text-align: center;
	}
	.works-img {
		display: block;
		width: 250px;
		height: 250px;
	}
}
