charset "UTF-8";

/*general*/
html {
	font-family: "Hiragino Kaku Gothic ProN", sans-serif;
	font-size: 62.5%;
}
html *{
	box-sizing: border-box;
}
@font-face {
	font-family: 'azukiLP';
	src: url("sozai/azukifontLP100/azukiLP.ttf");
}
body {
	margin: 40px 0px 0px;
	background-color: #FFF2D4;
}
.page {
	display: block;
	/*background-color: #fff0f5;*/
	margin: 0;
}
.site-top-table {
	margin-bottom: 40px;
	/*background-color: #fff0f5;*/
	/*border-bottom: 1px solid #d3d3d3;*/
}
.site-branding {
	/*display: table-cell;*/
	padding-bottom: 10px;
	padding-right: 75px;
	text-align: center;
}
.site-title {
	font-family: 'Amatic SC';
	font-size: 4.2rem;
	letter-spacing: 1px;
	margin: 0 0;
	color: #696969;
}
.site-navigation {
	/*display: table-cell;*/
	font-size: 0;
	text-align: center;
	color: #696969;
}
.nav-menu {
	display: inline-block;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	/*border: solid 1px #808080;*/
}
.nav-menu-item {
	display: inline-block;
	padding: 0 16px;
	font-family: 'Amatic SC';
	font-size: 2.4rem;
	letter-spacing: 1px;
}
.nav-menu-item a:link{
	color: #696969;
	text-decoration: none;
}
.nav-menu-item a:visited{
	color: #696969;
	text-decoration: none;
}
.nav-menu-item a:hover{
	color: #ffb6c1;
	text-decoration: none;
}
.nav-menu-item a:active{
	color: #ffb6c1;
	text-decoration: none;
}
/*.search-form {
	display: inline-block;
	padding-left: 20px;
	border: solid 1px #808080;
}*/
.keyvisual {
	font-family: 'azukiLP';
	height: 600px;
	text-align: center;
	font-size: 1.6rem;
	color: #696969;
	line-height: 1.5;
	/*background-color: rgba(255,255,255,0.8);*/
	background-image: url("sozai/panda-cup-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*background-blend-mode:lighten;*/
}
.key-description {
	padding-top: 200px;
}
.self-introduction {
	height: 600px;
	background-color: #ffffff;
}
.work-introduction {
	height: 600px;
	background-color: #f5f5f5;
}
.contact {
	height: 600px;
	background-color: #ffffff;
}
footer {
	height: 100px;
	background-color: #f5f5f5;
}

/*PC monitor*/
@media (min-width: 768px) {
	.site-top-table {
		display: table;
		width: 100%;
	}
	.site-branding {
		display: table-cell;
	}
	.site-navigation {
		display: table-cell;
	}

/*tablet*/
@media (max-width: 767px) {
	.page {
		width: 500px;
		height: 700px;
	}
}

/*smart phone*/
@media (max-width: 480px) {
	body {
		margin: 30px 0px;
	}
	.page {
		width: 300px;
		height: 700px;
	}
}
