charset "UTF-8";

/*general*/
html {
	font-family: "Hiragino Kaku Gothic ProN", sans-serif;
	font-size: 62.5%;
}
html *{
	box-sizing: border-box;
}
body {
	margin: 60px 40px;
	background-color: #e6e6fa;
}
.page {
	display: block;
	height: 700px;
	background-color: #f5f5f5;
	margin: 0 auto;
}
.site-top {
	margin-bottom: 70px;
	background-color: #ffffff;
}
.site-top-table {
	/*display: table;
	width: 100%;*/
}
.site-branding {
	/*display: table-cell;*/
	padding-bottom: 10px;
	padding-right: 75px;
}
.site-title {
	font-family: 'Abel';
	font-size: 3.2rem;
	letter-spacing: 1px;
	margin: 0 0;
}
.site-description {
	font-family: 'Abel';
	font-size: 1.2rem;
	letter-spacing: 1px;
}
.site-navigation {
	/*display: table-cell;*/
	font-size: 0;
	background-color: #dcdcdc;
	text-align: center;
}
.nav-menu {
	display: inline-block;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	/*border: solid 1px #808080;*/
}
.nav-menu-item {
	display: inline-block;
	padding: 0 16px;
	font-family: 'Abel';
	font-size: 1.2rem;
	letter-spacing: 1px;
}
.search-form {
	display: inline-block;
	padding-left: 20px;
	/*border: solid 1px #808080;*/
}

/*PC monitor*/
@media (min-width: 768px) {
	.site-top-table {
		display: table;
		width: 100%;
	}
	.site-branding {
		display: table-cell;
	}
	.site-navigation {
		display: table-cell;
	}

/*tablet*/
@media (max-width: 767px) {
	.page {
		width: 500px;
		height: 700px;
	}
}

/*smart phone*/
@media (max-width: 480px) {
	body {
		margin: 30px 0px;
	}
	.page {
		width: 300px;
		height: 700px;
	}
}
